*{
    font-family: Arial, sans-serif;
}

h1 {  
  color: #b99cff;
  text-align: center;
}
nav {
  background-color: #eee;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 20px;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #333;
}

nav a:hover {
  text-decoration: underline;
}