*{
    font-family: Arial, sans-serif;
}

h1 {
  color: red;
}
p {
  color: blue;
  background-color: #f0f0f0;
}
nav {
  background-color: #eee;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 20px;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #333;
}

nav a:hover {
  text-decoration: underline;
}