*{
    font-family: Arial, sans-serif;
}

h1 {
  color: #3d0404;
  text-align: center;
}

p {
  color: #cd811f;
  text-align: center;
}

img{
  display: block;
  margin: 0 auto;
  max-width: 80%;
  height: auto;
}

nav {
  background-color: #ecc39d;
  padding: 10px;
  border-radius: 5px;
  text-align: right;
  margin-bottom: 20px;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #550000;
  text-decoration: underline;
}

nav a:hover {
  text-decoration: underline;
}